@charset "UTF-8";

:root {
  box-sizing: border-box;
  font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1280 - 320));
  line-height: 1.25rem;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  padding: 1.25rem;
  max-width: 64rem;
  margin: 0 auto;
  background-color: rgba(226, 226, 226, 0.5);
}

.block {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  padding: 1.25rem;
  margin: 0.625rem 0;
  cursor: pointer;
  transition: 0.4s ease;
}

.block:hover {
  background-color: #eee;
  border-color: #eee;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5),
    0 2px 6px 2px rgba(60, 64, 67, 0.25);
}

h1,
h2,
h3,
h4,
p {
  font-family: "Playfair Display", serif;
  width: 100%;
  margin: 1.25rem 0;
}

h1 {
  /* coeff 1.067 or 1.25 */
  font-size: calc(1.25rem * 3 * 1.25);
  line-height: calc(1.25rem * 4);
}

h2 {
  font-size: calc(1.25rem * 2 * 1.25);
  line-height: calc(1.25rem * 3);
}

h3 {
  font-size: calc(1.25rem * 1.25);
  line-height: calc(1.25rem * 2);
}

h4,
h5,
h6 {
  font-size: calc(1.25rem * 0.75 * 1.25);
  line-height: 1.25rem;
}

/* FLIP ANIMATION */

/* .block {
  display: inline-flex;
  border-radius: 0.5rem;
  width: 11.25rem;
  height: 11.25rem;
  background-color: #cecece;
}

.block.expanded {
  width: 22.5rem;
  height: 22.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
} */

.block--filled {
  border: none;
  border-radius: 0.5rem;
  height: 11.25rem;
  width: 100%;
  background-color: #cecece;
  transition: 0.4s ease;
}

.block--filled.expanded {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
