@charset "UTF-8";

:root {
  box-sizing: border-box;
  font-size: calc(14px + (16 - 14) * (100vw - 320px) / (1280 - 320));
  line-height: 1.25rem;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  text-indent: 0;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.layout {
  padding: 0.625rem 1.25rem;
  max-width: 64rem;
  margin: 0 auto;
  background-color: rgba(226, 226, 226, 0.5);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Playfair Display", serif;
  width: 100%;
  margin: 1.25rem 0;
}

h1 {
  /* coeff 1.067 or 1.25 */
  font-size: calc(1.25rem * 3 * 1.25);
  line-height: calc(1.25rem * 6);
}

h2 {
  font-size: calc(1.25rem * 2 * 1.25);
  line-height: calc(1.25rem * 5);
}

h3 {
  font-size: calc(1.25rem * 1.25);
  line-height: calc(1.25rem * 4);
}

h4,
h5,
h6 {
  font-size: calc(1.25rem * 0.75 * 1.25);
  line-height: 1.25rem;
}

/* FLIP ANIMATION */

.menu-container,
.panel-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 20;
}

.menu--visible {
  pointer-events: auto;
}

.menu {
  background-color: #fff;
  color: #fff;
  position: relative;
  max-width: 400px;
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transform: translateX(-103%);
  display: flex;
  flex-direction: column;
  will-change: transform;
  z-index: 160;
  pointer-events: auto;
}

.menu--visible .menu {
  transform: none;
}

.menu--animatable .menu {
  transition: all 130ms ease-in;
}

.menu--visible.menu--animatable .menu {
  transition: all 330ms ease-out;
}

.menu-container:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.menu--visible.menu-container:after {
  opacity: 1;
  pointer-events: auto;
}

.menu--icon {
  min-height: 2.5rem;
  width: 2.5rem;
  background: url("./burger.svg") no-repeat center center;
  cursor: pointer;
}

.panel-container {
  z-index: 10;
}

.panel {
  background-color: #aeaeae;
  min-height: 2.5rem;
  width: 100%;
  position: absolute;
  pointer-events: auto;
}

.panel--top {
  top: 0;
}

.panel--bottom {
  bottom: 0;
}

.block {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  padding: 0 1.25rem;
  margin: 0.625rem 0;
  cursor: pointer;
  transition: 0.4s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: box-shadow, border-color, background-color;
  transform: translateZ(0);
}

.block:hover {
  background-color: #fefefe;
  border-color: #eee;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5),
    0 2px 6px 2px rgba(60, 64, 67, 0.25);
}

.block-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  overflow: hidden;
}

.block--filled {
  flex: 1 0 calc(33.3333% - 1.25rem);
  margin: 0.625rem;
  border: none;
  border-radius: 0.5rem;
  height: 11.25rem;
  background-color: #cecece;
}

.block--filled.expanded {
  flex-basis: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  transform-origin: bottom left;
  transform: translateZ(0);
  will-change: transform;
  transition: none;
}

.expanded.trans {
  transition: transform 0.5s ease-in;
}

.modal-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 5rem;
  background-color: hsla(127, 15%, 90%, 0.5);
  opacity: 0;
  transition: opacity 0.2s linear;
  transform: translateZ(0);
  will-change: opacity;
  pointer-events: none;
}
