@charset "UTF-8";

/* HORIZONTAL: 20px
   VERTICAL: 20px */

:root {
  box-sizing: border-box;
  font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1366 - 320));
  line-height: 1.25rem;
  /* vars */
  --body: #a2a4a2;
  --main: #f7f6f4;
  --panel: #cea251;
  --menu: #f7f6f4;
  --font: #2a2029;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-indent: 0;
  -webkit-font-smoothing: antialiased;
  color: var(--font, #000);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper,
.layout {
  overflow: hidden;
}

.layout {
  padding: calc(1.25rem * 2 + 18px) 1.25rem 1.25rem;
  max-width: 64rem;
  margin: 0 auto;
  background-color: var(--main, rgba(226, 226, 226, 0.5));
  transition: filter 0.4s ease 0.2s, transform 0.2s ease;
  will-change: filter, transform;
  transform: scale(1) translateZ(0);
  transform-style: preserve-3d;
}

.menu--open .layout {
  filter: blur(5px);
  transform: scale(0.9);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Playfair Display", serif;
  width: 100%;
  margin: 0 0 1.25rem 0;
  color: inherit;
}

h1 {
  /* coeff 1.067 or 1.25 */
  font-size: calc(1.25rem * 3 * 1.25);
  line-height: calc(1.25rem * 4);
}

h2 {
  font-size: calc(1.25rem * 2 * 1.25);
  line-height: calc(1.25rem * 3);
}

h3 {
  font-size: calc(1.25rem * 1.25);
  line-height: calc(1.25rem * 2);
}

h4,
h5,
h6 {
  font-size: calc(1.25rem * 0.75 * 1.25);
  line-height: 1.25rem;
}

/* FLIP MENU ANIMATION */

.menu-container,
.panel-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 20;
}

.menu--visible {
  pointer-events: auto;
}

.menu {
  padding: 1.25rem;
  background-color: var(--menu, #fff);
  position: relative;
  max-width: 250px;
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transform: translateX(-103%);
  display: flex;
  flex-direction: column;
  will-change: transform;
  z-index: 160;
  pointer-events: auto;
}

.menu > ul {
  margin: 0 0 0 -0.625rem;
  padding: 0;
  list-style: none;
}

.menu > ul > li > a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0.625rem;
}

.menu--visible .menu {
  transform: none;
}

.menu {
  transition: all 250ms ease-out;
}

.menu--visible .menu {
  transition: all 187.5ms ease-in;
}

.menu-container:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.menu--visible.menu-container:after {
  opacity: 1;
  pointer-events: auto;
}

.menu--icon {
  height: 18px;
  width: 18px;
  background: url("./burger.svg") no-repeat center center;
  cursor: pointer;
  position: relative;
}

.menu--icon::before {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: -1.25rem;
  bottom: -1.25rem;
  right: -1.25rem;
}

.panel-container {
  z-index: 10;
}

.panel {
  padding: 1.25rem;
  background-color: var(--panel, #aeaeae);
  min-height: 2.5rem;
  width: 100%;
  position: absolute;
  pointer-events: auto;
}

.panel--top {
  top: 0;
}

.panel--bottom {
  bottom: 0;
}

.block {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  padding: 1.775rem;
  margin: 0.625rem 0;
  cursor: pointer;
  transition: border-color 0.4s ease, background-color 0.4s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: border-color, background-color;
  transform: translateZ(0);
  transform-style: preserve-3d;
  position: relative;
}

.block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5),
    0 2px 6px 2px rgba(60, 64, 67, 0.25);
  opacity: 0;
  transition: opacity 0.2s ease;
  will-change: opacity;
  transform: translateZ(0);
  transform-style: preserve-3d;
}

.block:hover {
  background-color: #fefefe;
  border-color: #eee;
}

.block:hover::before {
  opacity: 1;
}

.block-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  overflow: hidden;
}

.block--filled {
  flex: 1 0 calc(33.3333% - 1.25rem);
  margin: 0.625rem;
  border: none;
  border-radius: 0.5rem;
  height: 11.25rem;
  background-color: #cecece;
}
